{{- $section3   := .Site.Params.section3 }}
{{- $title      := index $section3 "title" }}
{{- $subtitle   := index $section3 "subtitle" }}
{{- $image      := index $section3 "image" }}
{{- $buttonText := index $section3 "buttontext" }}
{{- $buttonLink := index $section3 "buttonlink" }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    
    <div class="title-wrapper has-text-centered">
      <img src="images/bdverse_logo_color_long.svg" style="
    max-width: 67%;" />
    </div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised" href="{{ $buttonLink }}" target="_blank">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>