{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium">
  <div class="container" id="section2">
    <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
    </div>
    
     <div class="columns">
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/user_guide.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">User Guide</a></span>
                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/dev_guide.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">Developer Guide </a></span>
                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</span>
              </p>
            </div>
          </div>
        </div>
       </div>
       
    
     <div class="columns">
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/spin.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">Take it for a spin & give us feedback</a></span>
                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/R-shoulders.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">Standing on the shoulders of giants</a></span>
                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</span>
              </p>
            </div>
          </div>
        </div>
        </div>
        <div class="columns">
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/Publications.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">Publications</a></span>
                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/team.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">The Team</a></span>
                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</span>
              </p>
            </div>
          </div>
        </div>
       </div>
       
  </div>
</section>