{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium">
  <div class="container" id="section2">
    <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
    </div>
    
     <div class="columns">
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/user_guide.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="https://bd-r.github.io/bdverse-user-guide/" target="_blank">User Guide</a></span>
                <span class="icon-box-text">Complete user guide on how to get started with the packages of bdverse. Explore the in-depth guides of different package seperatly.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/dev_guide.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="https://bd-r.github.io/bdverse-dev-guide/" target="_blank">Developer Guide </a></span>
                <span class="icon-box-text">If you want to go a mile further and contribute to bdverse, explore our documentation of developement methodologies and workflows.</span>
              </p>
            </div>
          </div>
        </div>
       </div>
       
    
     <div class="columns">
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/spin.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="https://mybinder.org/v2/gh/bd-R/bdverse/master?urlpath=rstudio" target="_blank">Take it for a spin & give us feedback</a></span>
                <span class="icon-box-text">Intrigued already? Take our package system for a test drive without breaking a single sweat in your browser itself, with Binder.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/R-shoulders.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="#">Standing on the shoulders of giants</a></span>
                <span class="icon-box-text">Our tribute to all the giants who directly and indirectly made possible to build this universe.</span>
              </p>
            </div>
          </div>
        </div>
        </div>
        <div class="columns">
        <div class="media icon-box column is-half">
          <figure class="media-left">
            <p class="image">
              <img src="images/Publications.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="/Publications">Publications</a></span>
                <span class="icon-box-text">Explore our academic writings of bdverse and get all technical, if thats your jam. </span>
              </p>
            </div>
          </div>
        </div>
        <div class="media icon-box column is-half team">
          <figure class="media-left">
            <p class="image">
              <img src="images/team.png"/>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title"><a href="/Team">The Team</a></span>
                <span class="icon-box-text">Meet the vibrant and truely international team behind this universe. Contact and network with our stars!</span>
              </p>
            </div>
          </div>
        </div>
       </div>
       
  </div>
</section>